<div ng-controller="confirmCtrl as conf">
  	<div loader></div>
  <table class="table">
    <thead>
    <tr>
      <th colspan="3">Appointment details</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><p>Appointment</p></td>
      <td><p>{{conf.order.service}}<br>
        {{conf.order.master}}<br/>
        {{conf.DisplaySelectedDate}}
      </p>
      </td>
      <td>
        <p>
          <button class="btn" ng-click="conf.editOrder()">Edit details</button>
        </p>
      </td>
    </tr>
    <tr>
      <td><p>Your details</p></td>
      <td><p>{{conf.order.client.firstName}} {{conf.order.client.lastName}}</p>

        <p>{{conf.order.client.phone}}</p>

        <p>{{conf.order.client.email}}</p>
      </td>
      <td>
        <p>
          <button class="btn" ng-click="conf.editClient()">Edit details</button>
        </p>
      </td>
    </tr>

    <tr ng-if="conf.order.client.customInfo">
      <td>
        <p>Special request</p></td>
      <td><p>{{conf.order.client.customInfo}}<br></p></td>
      <td>
        <p>
          <button class="btn" ng-click="conf.editClient()">Edit details</button>
        </p>
      </td>
    </tr>


    </tbody>
  </table>
  <div>
    <button class="btn" ng-click="conf.confirmOrder()">Confirm order</button>
  </div>
</div>
