<div class="panel panel-default" style="margin-top: 3%">	
	<div class="panel-body">
	<div class="row">		
	<table>
	<col width="50%">
		<col width="50%">
			<tr>
				<td><div class="selectedService">{{model.selectedService}}</br></br>Master: <span class="selectedMaster">{{model.selectedMaster.name}}</span></div></td>
			</tr>  			
			<tr>
			<td valign="top">
				<div style="font-weight: bold;text-align: left;font-size: 14px;margin-left: 15px;margin-top: 25px;color: #3399FF">Select date</div>					
				<div style="display:inline-block; min-height:290px; margin-left: 15px; margin-top: 3%" ng-controller="datepickerCtrl">
  					<datepicker ng-model="model.selectedDate" min-date="minDate" show-weeks="false" class="well well-sm" custom-class="getDayClass(date, mode)"></datepicker>
				</div>
			</td>
			<td>
				<div style="font-weight: bold; margin-left: 10px; margin-top: 25px">
					<table style="margin-left: 50px; width: 250px">
						<tr><td colspan="2" style="font-weight: bold; font-size: 15px; text-align: center">{{model.DisplaySelectedDate}}</td></tr>
						<tr style="font-size: 14px; color: grey"><td style="text-align: center; padding-top: 6px">Morning</td><td style="text-align: center; padding-top: 5px">Afternoon</td></tr>						
						<tr>
							<td valign="top" style="text-align: center">								
								<ul class="nav nav-pills nav-stacked" ng-repeat="time in model.masterFreeMorningTimes">
									<li>
										<div style="margin-left: 10px; margin-top: 12px; font-size: 13px">
											<a href="/client?time={{time}}" >{{time}}</a>							
										</div>						
									</li>		
								</ul>
							</td>
							<td valign="top" style="text-align: center">
								<ul class="nav nav-pills nav-stacked" ng-repeat="time in model.masterFreeAfternoonTimes">
									<li>
										<div style="margin-left: 10px; margin-top: 12px; font-size: 13px">
											<a href="/client?time={{time}}">{{time}}</a>							
										</div>						
									</li>		
								</ul>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
	</table>
	</div>	
	</div>
</div>
