button {
    width: 300px;
    padding: 10px;
}

.admin-area-title {
    color: darkgrey;
    font-weight: 900;
    font-size: 23;
    text-align: center;
}

.profile-list-container {
    width: 80%;
    margin: auto;
}

.profile-list-container p {
    text-align: center;
}